/* General styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(185,231,231);
}

header,
main,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #333;
}

.btn {
    background-color: #007bff;
    color: #f6f1f1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0069d9;
}

/* Header styles */
header {
    background-color: #f4ecec;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav li a {
    padding: 5px 10px;
}

nav input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

nav button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.fas.fa-search {
    color: #333;
}

/* Hero section styles */
.hero {
    text-align: center;
    padding: 50px 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    color: #070707;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Services section styles */
.services {
    padding: 50px 0;
}

.services h2 {
    text-align: center;
    margin-bottom: 30px;
}

.service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.service {
    margin: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: calc(33% - 20px); /* Calculate width based on 3 columns per row */
}

.service img {
    margin-bottom: 10px;
}

.service h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Appointment section styles */
.appointment {
    padding: 50px 0;
}

.appointment h2 {
    text-align: center;
    margin-bottom: 20px;
}

.appointment p {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Added box-sizing property */
}

/* Added styling for the submit button */
.form-group button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button[type="submit"]:hover {
    background-color: #0069d9;
}
